<div class="firestore">
    <section class="section">
      <div class="container">
        <div class="columns">
          <!-- Adding Data -->
          <div class="column">
            <div class="box">
              <h1 class="is-size-3">Add Data</h1>
              <div class="field">
                <label class="label">Text</label>
                <input type="text" class="input" v-model="text">
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-primary" @click="addData">
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Reading Data -->
          <div class="column">
            <div class="box">
              <h1 v-for="data of dbData">{{ data.text }}</h1>
            </div>
          </div>
          <!-- Reading Data -->
        </div>
      </div>
    </section>
</div>